<div class="posts-container">
  <div class="post" *ngFor="let item of postList; let i = index">
    <div class="post-header">
      <div class="user-info-container">
        <div class="user-profile-image">
          <img [src]="item.image_url" alt="" />
        </div>
        <div>
          <div class="user-info">
            <h3>{{ item.user_name }} {{ item.user_surname }}</h3>
          </div>
          <div class="date">
            <p>{{ item.post_date | date }}</p>
          </div>
        </div>
      </div>
      <div
        *ngIf="!isEdited"
        class="options"
        (click)="dropdownIsOpen[item.post_id] = !dropdownIsOpen[item.post_id]"
      >
        <div><p>...</p></div>
      </div>
      <div *ngIf="dropdownIsOpen[item.post_id]" class="dropdown">
        <h4
          (click)="
            editPost(i, item.post_id, item.post_date);
            dropdownIsOpen[item.post_id] = false
          "
        >
          Edit
        </h4>
        <h4
          (click)="
            deletePost(item.post_id); dropdownIsOpen[item.post_id] = false
          "
        >
          Delete
        </h4>
      </div>
    </div>
    <div class="post-body">
      <p>{{ item.post_content }}</p>
    </div>
  </div>
</div>
