.post-container {
  width: 100%;
}
.post {
  background-color: white;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 8px 14px;
  width: 100%;
}
.post-header {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.user-info-container {
  display: flex;
}
.user-info {
  justify-self: start;
}
.user-info h3 {
  font-weight: 600;
  font-size: 1.3375rem;
}
.date p {
  color: rgba(0, 0, 0, 0.3);
}
.options {
  justify-self: flex-end;
  cursor: pointer;
  height: 23px;
  font-size: 20px;
}

.dropdown {
  background-color: white;
  position: absolute;
  top: 30px;
  right: -40px;
  width: 110px;
  text-align: center;
  padding: 4px 14px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.dropdown h4 {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
}
.dropdown a {
  text-decoration: none;
  color: black;
}
.dropdown h4:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-body {
  margin-bottom: 10px;
}
.user-profile-image {
  margin-right: 30px;
}
.user-profile-image img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
