<div class="user-image">
  <img [src]="profileImg" alt="" />
</div>
<div class="textarea">
  <form #form="ngForm" action="">
    <textarea
      #box
      (keyup)="onKey($event)"
      onfocus="this.placeholder=''"
      onblur="this.placeholder
        ='What\'s on your mind'"
      name="content"
      [ngModel]="textareaValue"
      placeholder="What's on your mind"
    ></textarea>
    <div *ngIf="!isEdited">
      <a href="" class="submit" type="submit" (click)="newPost(form)">Post</a>
    </div>
    <div *ngIf="isEdited">
      <a href="" class="submit" type="submit" (click)="updatePost(form)">
        Edit
      </a>
      <a href="" class="submit">Exit</a>
    </div>
  </form>
</div>
