.user-image {
  margin-right: 30px;
}
.user-image img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.textarea {
  width: 100%;
}
.textarea form {
  text-align: right;
}
.submit {
  margin-left: 5px;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  font: 400 13.3333px Arial;
  background-color: #f0f2f5;
  text-decoration: none;
  color: black;
}
.submit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.textarea textarea {
  width: 100%;
  height: 75px;
  resize: none;
  border-radius: 10px;
  background-color: #f0f2f5;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 4px 10px;
}
.textarea textarea::placeholder {
  font-size: 18px;
}
.textarea textarea:focus::placeholder {
  display: none;
}
.textarea textarea:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.textarea textarea:focus {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: white;
  outline: none;
}
