<div class="container">
  <section class="content-section">
    <app-textarea
      [editedPostId]="editedPostId"
      [editedPostDate]="editedPostDate"
      [textareaValue]="textareaValue"
      [isEdited]="isEdited"
      [profileImg]="profileImg"
      [postList]="postList"
      class="content-container"
    ></app-textarea>
  </section>
  <section class="posts-section">
    <app-posts
      (onEditClick)="onEditClick($event)"
      (transferId)="transferId($event)"
      (transferDate)="transferDate($event)"
      [isEdited]="isEdited"
      [postList]="postList"
      class="post-app"
    ></app-posts>
  </section>
</div>
