.container {
  width: 75%;
  margin: 60px auto;
}
.content-section,
.posts-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  margin: 0 auto;
}
.post-app {
  width: 100%;
}
.content-section {
  margin-bottom: 80px;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 8px 14px;
}
